.btn-color-secundario {
  background-color: var(--color-secundario);
  color: white;
  border: none;
  padding: 15px 30px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #d90429;
  }
}

.centrar-boton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}