.carousel-inner img {
    height: auto;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #888;
}

.carousel-indicators .active {
    background-color: #555;
}

.centrar-boton {
    padding: 5%;
}