body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-fondo);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: var(--color-texto-principal);
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: var(--color-principal);
}

a {font-weight: 700 !important;}


h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.75rem; }
h5 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-claro);
}

p {
  font-size: 1.125rem;
  color: var(--color-gris);
  margin-bottom: 20px;
  line-height: 1.8;
  text-align: justify;
}